CODE_SIGN_IDENTITY = Apple Development
MB_BUNDLE_ID_PREFIX =

INFOPLIST_KEY_NSHumanReadableCopyright = © 2024 Buddy Software LTD

MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
VERSIONING_SYSTEM = apple-generic
MACOSX_DEPLOYMENT_TARGET = 15.0

MB_SPARKLE_PUBLIC_ED_KEY=dj8ljUPnwoLj/dLs6HyJg5Ayw+t8zWtgjQUfQsH56ww=
MB_SPARKLE_CHECK_INTERVAL=86400
